{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur la page d'accueil
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>Bienvenue sur {{ appName }}</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae dolorem eaque eius, enim minima mollitia nobis non, nulla officiis omnis reprehenderit ullam unde. A doloremque necessitatibus odit reiciendis! Tempore!
        </p>
        <p>
            <a href="{{ path('product_index') }}" class="btn btn-primary">Liste des produits</a>
            <a href="{{ path('product_new') }}" class="btn btn-secondary">Ajouter un produit</a>
        </p>
    </div>

    <hr>

    <h2>Les produits en stock</h2>

    {% include '_partials/product_list.html.twig' %}
{% endblock %}