{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <h1>Liste de nos catégories</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('category_show', {category: category.id}) }}" class="btn btn-success btn-sm">Voir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}" class="btn btn-primary">Créer une catégorie</a>
{% endblock %}
